In [1]:
# Import Necessary Libraries to Load and Read the Data

import pandas as pd

In [ ]:
pip install openpyxl

In [4]:
# Read CSV File
df_csv = pd.read_csv('branch_sales.csv')

# Read Excel File
df_excel = pd.read_excel('branch_sales.xlsx')

#Read Json File
df_json = pd.read_json('branch_sales.json')

In [5]:
# Drop Duplicates from all the Three files

df_csv.drop_duplicates(inplace = True)
df_excel.drop_duplicates(inplace = True)
df_json.drop_duplicates(inplace = True)

In [6]:
# Handle Missing Values

df_csv.fillna({
    'discount': 0.0,
    'customer_feedback' : 'No Feedback'
}, inplace=True)

df_excel.fillna({
    'discount': 0.0,
    'customer_feedback' : 'No Feedback'
}, inplace=True)

df_json.fillna({
    'discount': 0.0,
    'customer_feedback' : 'No Feedback'
}, inplace=True)

In [7]:
# Standardize Date Columns

df_csv['date'] = pd.to_datetime(df_csv['date'], format="%Y-%m-%d")
df_excel['date'] = pd.to_datetime(df_csv['date'], format="%Y-%m-%d")
df_json['date'] = pd.to_datetime(df_csv['date'], format="%Y-%m-%d")

In [ ]:
# Ensure Numerical Data

for df in [df_csv, df_excel, df_json]:
    df['quantity'] = pd.to_numeric(df['quantity'], errors = 'coerce')
    df['price'] = pd.to_numeric(df['quantity'], errors = 'coerce')
    df['discount'] = pd.to_numeric(df['quantity'], errors = 'coerce')

In [8]:
# Display Cleaned Data

print("Cleaned CSV Data")
print(df_csv.head())

Cleaned CSV Data
  transaction_id branch_id branch_location       date      time customer_id  \
0           T001      A004         Houston 2024-09-01  11:00:00        C001
1           T002      A005         Houston 2024-09-02  12:00:00        C002
2           T003      A003         Houston 2024-09-03  11:30:00        C003
3           T004      A005           Miami 2024-09-04  13:30:00        C004
4           T005      A005         Chicago 2024-09-05  08:30:00        C005

  item_id   item_name     category  quantity    price  discount  total_amount  \
0    I001     T-shirt  Electronics         9  1699.95     29.36      15270.19
1    I002  Headphones  Electronics         9  1318.65     80.94      11786.91
2    I003      Laptop  Electronics         2  1140.93     81.01       2200.85
3    I004     T-shirt  Accessories         7   196.41     86.71       1288.16
4    I005  Headphones  Electronics         3   741.75     91.32       2133.93

  payment_method customer_feedback
0           Cash       No feedback
1           Cash      Satisfactory
2           Cash     Quick service
3    Credit Card     Great product
4    Credit Card      Satisfactory

In [9]:
# Data Transformation and Standardization

column_names = ['transaction_id', 'branch_id', 'branch_location', 'date', 'time', 'customer_id',
                'item_id', 'item_name', 'category', 'quantity', 'price', 'discount', 'total_amount',
                'payment_method', 'customer_feedback']

df_csv.columns = column_names
df_json.columns = column_names
df_excel.columns = column_names

In [10]:
# Concatenate All Formats

unified_data = pd.concat([df_csv, df_excel, df_json], ignore_index = True)

In [11]:
# Recalculate Total Amount for Consistency

unified_data['total_amount'] = (unified_data['quantity'] * unified_data['price']) - unified_data['discount']

In [12]:
# Display the Unified and Standardized Dataset

print("Unified Data Sample")
print(unified_data.head())

Unified Data Sample
  transaction_id branch_id branch_location       date      time customer_id  \
0           T001      A004         Houston 2024-09-01  11:00:00        C001
1           T002      A005         Houston 2024-09-02  12:00:00        C002
2           T003      A003         Houston 2024-09-03  11:30:00        C003
3           T004      A005           Miami 2024-09-04  13:30:00        C004
4           T005      A005         Chicago 2024-09-05  08:30:00        C005

  item_id   item_name     category  quantity    price  discount  total_amount  \
0    I001     T-shirt  Electronics         9  1699.95     29.36      15270.19
1    I002  Headphones  Electronics         9  1318.65     80.94      11786.91
2    I003      Laptop  Electronics         2  1140.93     81.01       2200.85
3    I004     T-shirt  Accessories         7   196.41     86.71       1288.16
4    I005  Headphones  Electronics         3   741.75     91.32       2133.93

  payment_method customer_feedback
0           Cash       No feedback
1           Cash      Satisfactory
2           Cash     Quick service
3    Credit Card     Great product
4    Credit Card      Satisfactory

In [13]:
# Save the New Cleaned CSV

unified_data.to_csv('Cleaned_Sales.csv' , index = False)